@import url(https://fonts.googleapis.com/css?family=Marcellus:regular);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:300,400,500,600);


:root {
    --container-width: 1260px;
    --container-padding: 30px;
    --text-main-color: #fff;
    --main-color: #570bada5;
    --font-main: 'DM Sans', sans-serif;
    --font-accent: 'Marcellus', serif;
    --gradient-main: linear-gradient(45deg,
    #F72585,
    #B5179E,
    #7209B7,
    #560BAD,
    #480CA8,
    #3A0CA3,
    #3F37C9,
    #3F37C9,
    #3F37C9,
    #3F37C9);
    --background-color: #0f1f39b6;
    --color-active:#24daee;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img,
svg {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

button,
input[type="submit"] {
    cursor: pointer;
}

html,
body,
.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}



.page {
    font-family: var(--font-main);
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    color: var(--text-main-color);
}

.font-large,
.font-medium,
.font-small {
    font-weight: 400;
    font-family: var(--font-accent);
}

.font-large {
    font-size: 48px;
}

.font-medium {
    font-size: 32px;
}

.font-small {
    font-size: 26px;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: -100;
}

.container {
    margin: 0 auto;
    padding: var(--container-padding);
    max-width: var(--container-width);
}

.border-effect {
  position: relative;
}

.border-effect::before {
    content: '';
    background: var(--gradient-main);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 300%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.border-effect::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}




.border-effect:active {
    color: #24daee;
    border-bottom: #24daee 2px solid;
}

.border-effect:active:after {
    background: transparent;
}

.border-effect:hover:before {
    opacity: 1;
}



@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.header__navigation {
    display: flex;
    width: 100%;
    position: relative;
}

.navigation__menu {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    flex: 1 1 auto;
}

.menu__list {
    display: flex;
    gap: 20px;
}

.menu__link{
    color: var(--text-main-color);
    border-bottom: var(--text-main-color) 2px solid;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social__link {
    display: inline-block;
    transition: all 0.3s ease;
}

.social__link:hover {
    transform: scale(1.2);
    filter: brightness(1.2);

}

.social__link:active {
    transform: scale(0.9);
    filter: brightness(0.8);
}

.social__icon {
    transition: all 0.3s ease;
}

.social__link:hover .social__icon {
    transform: rotate(15deg);
}

.social__link:active .social__icon {
    transform: rotate(-15deg);
}

.page__footer {
    margin-top: auto;
    padding: 60px 0;
    background-color: #e3e3e3;
    text-align: center;
}


.hero__container {
    width: 100%;
    padding-top: 0;
}

.hero__content {
    width: 100%;
    padding: 20px;
    font-family: var(--font-accent);
    background: url(img/background/computer-graphy.jpg) center/cover no-repeat;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -10;
}

.hero__title {
    margin-top: 50px;
    position: relative;
}

.hero__title::before {
    content: "I am";
    position: absolute;
    top: 150px;
    left: 150px;

}

.hero__title::after {
    content: "Aleksandr Volkov";
    position: absolute;
    right: 150px;
    top: 250px;
}

.hero__subtitle {
    margin-top: 200px;
    text-align: center;
    font-weight: 300;

}

.button {
    align-self: center;
    padding: 10px 20px;
    border-radius: 15px;
    /* background-color: #1e1c1c1b; */
}

.hero__button {
    background-color: var(--background-color);
    border: var(--main-color) 2px solid;
    z-index: 1;

}